<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag(*webpack_asset_paths('application')) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
